

/* Body and structure
-------------------------------------------------- */

.well-mine {
  min-height: 7px;
  padding: 4px;
  margin-bottom: 2px;
  background-color: #FFFFE5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* Forms
-------------------------------------------------- */
.formback {
	background-color: #FFFD77;
	border: 2px solid #3E58A7;
}
.vformback {
	background-color:#FFFD77; 
	margin:4mm;  
	padding:4mm;  
	border:2.5pt solid blue;
}
.formbackp {
	background-color: #FCC2E7;
	border: 2px solid #3E58A7;
}
.vformbackp {
	background-color:#FCC2E7; 
	margin:4mm;  
	padding:4mm;  
	border:2.5pt solid blue;
}

form .required {
	font-weight: bold;
}

form .required label:after {
	color: #ED1D24;
	/*content: '*';*/
	display:inline;
}

p.error {
  color: #b94a48;
}

/* Tables
-------------------------------------------------- */
.table-pvborder {
  border: 1px solid #85C2FF;
  border-top: 1px solid #85C2FF;
  margin-bottom: 7px;
}

.table-pvborder thead th {
  vertical-align: top;
}

.table-pvborder  th {
  font-weight: normal;
  font-size: 90%;
}


.table-pvborder th,
.table-pvborder td {
  border-top: 1px solid #85C2FF;
  padding: 3px 4px;
  border-left: 1px solid #85C2FF;
  padding: 3px;
}

.table-pvborder th {
	text-align: center;
	background-color: #f9f9f9;
}

.table-pvborderless {
  border: 1px solid #85C2FF;
  border-top: 1px solid #85C2FF;
}
  
.table-pvborderless th,
.table-pvborderless td {
  border-top: 1px solid #85C2FF;
  padding: 4px 5px;
  border-left: 1px solid #85C2FF;
}



/* SQL log
-------------------------------------------------- */
.cake-sql-log {
	background: #fff;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#fff;
}


/** Notices and Errors **/
.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
	color: red;
}



/*
********************** COMPATIBILITY HACKS ******************************
*/
/* Patterns.less
 * Repeatable UI elements outside the base styles provided from the scaffolding
 * ---------------------------------------------------------------------------- */

.alert-danger,
.alert-error {
	color: #ED1D24;
    font-weight: bold;
	background-color: #f2dede;
	border-color: #eed3d7;
}

.alert {
    margin-top: 13px;
    margin-bottom: 25px;
    padding: 18px 35px 18px 18px;
}

.form-horizontal .control-group {
  margin-bottom: 7px;
}

.form-horizontal .help-block {
	font-weight: normal;
	color: #C09853;
    margin-bottom: 0;
    margin-top: 2px;
}

.ui-combobox {
	position: relative;
	display: inline-block;
}
.ui-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	/* adjust styles for IE 6/7 */
	*height: 1.7em;
	*top: 0.1em;
}
.ui-combobox-input {
	margin: 0;
	padding: 0.3em;
}


/* Change order specific
-----------------------------------------------------------------------*/
table.change_order_items { 
  font-size: 8pt;
  width: 100%;
  border-collapse: collapse;
  margin-top: 2em;
  margin-bottom: 2em;
}

table.change_order_items>tbody { 
  border: 1px solid black;
}

table.change_order_items>tbody>tr>th { 
  border-bottom: 1px solid black;
}

table.change_order_items>tbody>tr>td { 
  border-right: 1px solid black;
  padding: 0.5em;
}

td.change_order_total_col { 
  padding-right: 4pt;
  text-align: right;
}

td.change_order_unit_col { 
  padding-left: 2pt;
  text-align: left;
}